* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    max-width: 1280px;
    margin: 0 auto;
}
header {
    background-image: url("/images/fon.png");
    background-size: cover;
    color: rgb(129, 111, 111);
}
header > a {
    color: #fff;
}
.top_menu {
    padding: 2.5% 8%;
}
.list1 > li > a {
    color: #E4D8CC;
    text-decoration: none;
}
.list1 > li > a:hover {
    text-decoration: underline;
    font-weight: 700;
}
.list1 {
    display: flex;
    gap: 7%;
    font-size: 1.1vw;
}
.tel {
    margin-left: auto;
}
h1 {
    font-size: 3vw;
    padding: 27% 0 0 5%;
    color: #E4D8CC;
}
.header_descriptoin {
    color: #C3BAB1;
    padding: 2% 0 0 5%;
    font-size: 1.3vw;
}
.btn1 {
    width: 17%;
    display: inline-block;
    margin: 4% 0 8% 5%;
    background-color: #7837F3;
    text-align: center;
    font-size: 1vw;
    padding: 1.6% 0;
    border-radius: 30px;
    text-decoration: none;
}
.btn1:hover, .btn2:hover {
    opacity: 0.5;
    transition: 0.3s;
}
.btn2 {
    width: 13%;
    display: inline-block;
    margin: 4% 0 8% 3%;
    background-color: rgba(228, 216, 204, 0.5);
    text-align: center;
    font-size: 1vw;
    padding: 1.6% 0;
    border-radius: 30px;
    text-decoration: none;
}
.sect0 {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7%;
    background-color: #E7DFD8;
    padding: 9% 5.5% 4.5% 5.5%;
}
.box0-1 {
    width: 100%;
    padding: 10% 0;
}
.box0-2 {
    width: 100%;
    padding: 10% 0;
}
h2 {
    font-size: 2.9vw;
    padding-bottom: 5%;
}
.sect1, .sect2, .sect3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7%;
    background-color: #E7DFD8;
    padding: 4.5% 5.5%;
}
.box1-1, .box3-1 {
    width: 100%;
    border-radius: 5px;
}
.box1-2, .box3-2 {
    width: 100%;
    padding: 10% 0;
}
h3 {
    font-size: 2.2vw;
    padding: 5.8% 0;
}
.min_line {
    padding-bottom: 3.8%;
}
.num1, .num2, .num3 {
    display: inline-block;
    width: 14%;
    border-radius: 50%;
    background-color: #B99FEA;
    text-align: center;
    padding: 4% 0;
    font-size: 2vw;
    font-weight: 700;
}
.num1_text, .num2_text, .num3_text {
    font-size: 1.5vw;
    padding-left: 2%;
}
.box2-1 {
    width: 100%;
    padding: 10% 0;
}
.box2-2 {
    width: 100%;
    border-radius: 5px;
}
.sect4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    background-color: #fff;
    text-align: center;
    padding: 8% 0;
}
.box4_block1, .box4_block2 {
    width: 100%;
}
.box4-1, .box4-2 {
    padding-bottom: 6%;
}
.box4_block1 > p, .box4_block2 > p {
    padding: 6% 0;
    color: #E4D8CC;
}
.box4-1-1 {
    width: 14%;
    padding-top: 12%;
}
.otz_text {
    display: inline-block;
    font-size: 1vw;
    padding-left: 3%;
    color: #E4D8CC;
}
.box4-2-1 {
    width: 22%;
    padding-top: 24%;
}
.sect5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 7%;
    background-color: #000;
    padding: 4.5% 5.5%;
}
.sect5_text {
    width: 100%;
    text-align: left;
    color: #D8CCBF;
    padding: 3% 0;
}
.sect5_text > h4 {
    color: #E4D8CC;
    font-size: 2.9vw;
    padding-bottom: 7.5%;
}
.sect5_text > p {
    padding-bottom: 2%;
    font-size: 2vw;
}
.box5 {
    width: 100%;
}
.sect6 {
    background-image: url("/images/sect6.png");
    background-size: cover;
    padding: 8% 5%;
}
.text6-1 {
    color: #C3BAB1;
    font-size: 1.5vw;
}
.text6-2 {
    color: #E7DFD8;
    font-size: 3.5em;
    padding: 4.5% 0;
}
.text6-3 {
    color: #E4D8CC;
    font-size: 1.8vw;
}
footer {
    display: grid  ;
    place-items: start;
    background-color: #000;
    color: #E4D8CC;
    padding: 0 5%;
}
footer > a {
    color: #E4D8CC;
    text-decoration: none;
}
footer > a:hover {
    font-weight: 600;
    text-decoration: underline;
}
.footer_block1 > a:hover, .footer_block2 > a:hover, .footer_block3 > a:hover, .footer_block4 > a:hover, .line_footer2 > a:hover {
    text-decoration: underline;
}
.footer_block1 > a, .footer_block2 > a, .footer_block3 > a, .footer_block4 > a, .line_footer2 > a {
    color: #E4D8CC;
    text-decoration: none;
}
.footer_btn {
    display: grid  ;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    width: 50%;
    font-size: 1vw;
    padding: 9% 0px 4.5% 0px;
}
.footer_btn > span {
    font-size: 1.5vw;
}
.btn3 {
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #7837F3;
    border-radius: 30px;
    padding: 6.5% 0;
    margin-top: 9%;
}
.btn4 {
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #E4D8CC;
    border-radius: 30px;
    padding: 6.5% 0;
    margin-top: 9%;
}
.btn3:hover, .btn4:hover {
    opacity: 0.5;
}
.footer_blocks {
    display: grid  ;
    grid-template-columns: 20% 20% 20% 40% ;
    width: 100%;
    padding: 4.5% 0 9% 0;
}
.footer_block1, .footer_block2, .footer_block3, .footer_block4 {
    display: grid  ;
    grid-template-rows: repeat(4, 1fr);
}
.footer_block4 {
    padding-top: 15%;
    margin-left: auto;
}
.link1, .link2, .link3 {
    font-size: 1.2vw;
}
.footer_img {
    width: 28%;
    object-fit: cover;
}
.link4 {
    padding-top: 9%;
}
.footer_block5 {
    display: flex;
    gap: 22%;
    width: 100%;
    padding: 5.5% 0;
}
.footer_block5::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #E4D8CC;
}
.privacy {
    text-decoration: none;
    color: #E4D8CC;
}
.privacy:hover {
    text-decoration: underline;
}
.smm_footer {
    margin-left: auto;
    padding-top: 6%;
}
.smm1, .smm2, .smm3 {
    padding-top: 4.5%;
}
.smm1:hover, .smm2:hover, .smm3:hover {
    cursor: pointer;
}
