* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* max-width: 1440px; */
    margin: 0 auto;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
}
.container, footer {
    max-width: 1180px;
    margin: 0 7%;
}
.contacts {
    display: flex;
    gap: 10%;
    position: relative;
    padding: 3% 0;
}
.contacts::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color : #888888;
}
.email {
    text-align: right;
    margin-left: auto;
    /* padding-right: 10%; */
}
.email > a, .number > a {
    text-decoration: none;
    color: #607CE6;
}
.email > a:hover, .number > a:hover {
    text-decoration: underline;
}
.number {
    text-align: right;
}
.menu_section {
    display: flex;
    padding: 3% 0;
}
.list1 {
    display: flex;
    list-style-type: none;
    gap: 3%;
}
.list1 > li {
    text-decoration: none;
}
.list1 > li > a {
    text-decoration: none;
    color: #000;
  }
  .list1 > li > a:hover {
    text-decoration: underline;
    color: #607CE6;
  }
  .call {
    display: flex;
    margin-left: auto;
  }
.img_call {
    /* width: 16px; */
    height: 50%;
    padding-right: 2.5%;
}
.number_call {
    text-decoration: none;
    color: #607CE6;
}
.number_call > a {
    text-decoration: none;
    color: #607CE6;
}
.number_call > a:hover {
    text-decoration: underline;
}
.hero {
    display: flex;
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
    padding: 3% 0;
}
h1 {
    font-size: 3vw;
    /* width: 100%; */

}
.hero_text {
    /* width: 100%; */

    padding-left: 15%;
}
.hero_img {
    /* height: 440px; */
    /* object-fit: cover; */
    /* background-size: cover; */
    /* margin: 0 10%; */
    width: 100%;
    padding: 3% 0;
}
h2 {
    font-size: 2.5vw;
    padding-bottom: 3%;
}
.about_text {
    display: flex;
    gap: 10%;
}
.about_text1, .about_text2 {
    width: 100%;
    text-align: left;
}
.about_img {
    display: flex;
    gap: 10%;
    padding: 3% 0;
}
.about_img1 {
    width: 45%;
    /* height: 280px; */
}
.about_img2 {
    width: 45%;
    /* height: 280px; */
}
.products {
    padding: 3% 0;
}
.all_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5%;
}
.product {
    width: 100%;
    /* height: 435px; */
    background: #f5f5f5;
    padding-bottom: 10%;
}
.product_img {
    width: 200px;
    height: 158px;
    padding: 10% 0 0 10%;
}
.product > a {
    text-align: left;
    padding: 0 0 10% 10%;
    text-decoration: none;
    color: #607CE6;
}
.product > a:hover {
    text-decoration: underline;
}
h3 {
    font-size: 1.8vw;
    padding: 40% 0 10% 10%;
}
.map {
    padding: 3% 0;
}
.map_img {
    width: 100%;
    /* height: 715px; */
}
.news_block {
    padding: 3% 0;
}
.all_news {
    display: flex;
    gap: 2%;
}
.news {
    width: 100%;
    /* width: 380px; */
    /* height: 450px; */
    background: #f5f5f5;
}
.news_img {
    width: 100%;
    /* width: 380px; */
    /* height: 251px; */
}
.news_text {
    padding: 5%;
}
.date_block {
    display: flex;
    padding: 15% 5% 5% 5%;
}
.date_block > a {
    text-decoration: none;
    color: #607CE6;
}
.date_block > a:hover {
    text-decoration: underline;
}
.date {
    margin-left: auto;
}
footer {
    /* width: 100%; */
    background-color: #333;
    margin-top: 4%;
    color: #fff;
}
.footer_block {
    display: flex;
    position: relative;
}
.bottom_logo {
    position: absolute;
    padding: 5.5% 0 0 9%;
}
.bottom_menu1 {
    margin-left: auto;
    padding: 5.5% 9% 0 0px;
}
.bottom_menu2 {
    padding: 5.5% 9% 0 0px;
}
.list2_1 > li, .list2_2 > li, .list2_3 > li {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 17%;
}
.list2_1 > li > a, .list2_2 > li > a, .list2_3 > li > a {
    text-decoration: none;
    color: #fff;
  }
.list2_1 > li > a:hover, .list2_2 > li > a:hover, .list2_3 > li > a:hover  {
    text-decoration: underline;
    color: #607CE6;
}
.bottom_menu3 {
    padding: 5.5% 9% 0 0;
}
.footer_bottom {
    text-align: center;
    padding: 14% 0 5% 0;
}